
.body{
display: flex;
flex-direction: column;
}
#dashboard{
  background-color: #D3D3D3;
  display: flex;
  flex-direction: row;
}
.table{
  width: 100%;
  padding: 5%;
}
.head{
  display: flex;
  flex-direction: row;
}
#task{
  font-size: 4rem;

}
.table h3{
  color: #008170;
}
.ag-theme-quartz {
  
  --ag-checkbox-unchecked-color:#008170
}
