
body{
  margin: 0;
  pad: 0;
}
#dashboard{
  background-color: #D3D3D3;
  display: flex;
  flex-direction: row;
}
.table{
  width: 100%;
  padding: 5%;
}
.ag-theme-material{
  --ag-material-accent-color:rgb(0,128,0);

}
